/* Estilo fuentes */
@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@300;400&display=swap');
/* Escritorio, portatil */
*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Yanone Kaffeesatz', sans-serif;		
}
body{
	background-image: url('../img/fondo.jpg');
	background-size: cover;
	background-attachment: fixed;
}
/* Clases especiales */
.borde{
	border: 1px solid gray;
}
.titulo{	
	height: 50px;
	background: #DAD1CE;
}
/* Contenedor */
.contenedor{
	width: 90%;	
	max-width: 1200px;
	margin: auto;
	display: flex;
	flex-flow: column wrap;	
}
/* Navegador */
nav{	
	height: 50px;
	display: flex;
	flex-flow: row wrap;
}
.logo{
	flex: 20%;
	height: 100%;	
	background: #F87C35;
	text-align: center;
	padding: 5px;
}
.logo img{
	height: 100%;
}
.navega{
	flex: 65%;
	background: #2B9EA5;	
}
.ingreso{
	flex: 15%;
	background: #666;
}
/* Encabezado */
header{	
	height: 600px;
	background-image: url('../img/header.jpg');
	background-size: cover;
	/*background-attachment: fixed;*/
}
/* Secciones: Portafoilo, 
   Nosotros y Contáctenos */
section{
	height: 600px;
	display: flex;
}
/* Portafolio */
.portafolio{	
	/*height: auto;	*/
	background: rgba(218, 209, 206, 0.9);
	flex-flow: row wrap;	
}
.portafolio img{
	width: 200px;
	height: 200px;
	border-radius: 50%;
}
.col-port-izq, .col-port-cnt, .col-port-der{
	/*min-height: 600px;*/
	flex: 1;
	overflow: hidden;
}
/* Nosotros */
.nosotros{
	/*height: auto;*/
	flex-flow: column wrap;
	background: rgba(74, 78, 93, 0.9);	
}
.nosotros img{
	width: 150px;
	height: 150px;
	border-radius: 50%;
}
.fila-nos-arb, .fila-nos-cnt, .fila-nos-abj{
	/*min-height: 200px;*/
	flex: 1;
	display: flex;
	flex-flow: row wrap;
	/*overflow: hidden;		*/
}
.col-nos-izq, .col-nos-der{	
	flex: 40%;	
}
.col-nos-cnt{
	flex: 20%;	
}
/* Contáctenos */
.contactenos{
	background: rgba(218, 209, 206, 0.9);
	flex-flow: row wrap;
}
.col-cont-izq, .col-cont-der{
	flex: 1;
	display: flex;
	flex-flow: column wrap;
}
.fila-arb-cont{
	flex: 65%;	
}
.fila-abj-cont{
	flex: 35%;	
	text-align: center;
}
.fila-abj-cont .fab{
	font-size: 5em;
	display: inline-block;
	padding: 10px;
	color: #000;	
}
.fila-abj-cont .fab:hover{
	color: #fff;
}
/* Pie de página */
footer{	
	height: 70px;
	background: #333;
}
/* Tablet */
@media only screen and (max-width: 992px) {
	/* Navegador */	
	nav{	
		height: 100px;
	}	
	.logo{		
		flex: 20%;
	}
	.navega{		
		flex: 80%;		
	}
	.ingreso{		
		flex: 100%;		
	}
	/* Portafolio */		
	.col-port-izq{
		flex: 100%;
	}
	.col-port-cnt, .col-port-der{
		flex: 50%;
	}
	/* Nosotros */	
	.fila-nos-arb .col-nos-der,
	.fila-nos-cnt .col-nos-izq,
	.fila-nos-abj .col-nos-der{
		display: none;
	}
	/* Contáctenos */
	.contactenos{
		height: 1200px;
	}	
	.col-cont-izq, .col-cont-der{
		flex: 100%;
	}	
}
/* Celular */
@media only screen and (max-width: 576px) {
	/* Navegador */
	nav{	
		height: 150px;
	}
	.logo, .navega, .ingreso{
		flex: 100%;
	}	
	/* Portafolio */		
	.col-port-izq, .col-port-cnt, .col-port-der{
		flex: 100%;
	}
	/* Nosotros */
	.nosotros{
		height: 1200px;
	}
	.col-nos-izq, .col-nos-der{
		flex: 100%;
		order: 2;
	}
	.col-nos-cnt{		
		flex: 100%;
		order: 1;
	}
}